<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{fragments/layout}">
<head>
    <title>Mini Project 197</title>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>XSIS 2.0</h3>
            </div>
            
            <div class="title_right">
                <div class="form-group pull-right top_search" style="width:300px;">
                	<form method="post" id="form-search" data-th-action="@{~/pelamar/list}">
                    <div class="input-group">
                        <input type="text" id="txt-search" class="form-control" placeholder="Cari Nama Pelamar...">
	                    <div class="input-group-btn">
		                      <button class="btn btn-default" type="button" id="btn-cari" style="margin-right:0px;">Cari</button>
		                      <button class="btn btn-default" type="reset" id="btn-reset" onclick="document.getElementById('txt-search').value = ''">Reset</button>
	                    </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Daftar Pelamar</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                            	<a href="#"><i class="fa fa-sort-alpha-asc"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-list"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@{~/pelamar/index}" data-size="10">10</a></li>
                                    <li><a href="@{~/pelamar/index}" data-size="20">20</a></li>
                                    <li><a href="@{~/pelamar/index}" data-size="30">30</a></li>
                                    <li><a href="@{~/pelamar/index}" data-size="40">40</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{~/pelamar/add}" id="btn-add"><i class="fa fa-plus"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
		                <div class="row" id="row-content" style="margin-left:0px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="main-modal" data-layout-fragment="content-modal">
	<div class="modal-dialog modal-xl" style="width:90%;">
		<div class="modal-content" id="main-modal-content">
		</div>
	</div>
</div>
<script data-layout-fragment="script-js">
	
	// tambah Biodata Pelamar
	$("#btn-add").click(function(event){
		event.preventDefault();
		var url = $(this).attr('href');
		$.ajax({
			url:url,
			type:'get',
			dataType:'html',
			success: function(data){
				$('#main-modal-content').html(data);
				$('#main-modal').modal('show');
			}
		});
	});
	
	// cari data
	$('#btn-cari').on('click', function(){
		var key = $('#txt-search').val();
		var url = '/pelamar/list/'+ key;
		if(key == "") {
			alert("Nama Pelamar Tidak boleh Kosong!")
		} else {
			$.ajax({
				url:url,
				type:'get',
				dataType:'html',
				success: function(data){
					$('#row-content').html(data);
				}
			});
		}
	});
	
	//reset pencarian
		$("#btn-reset").click(function() {
			// request halaman dengan ajax
			$.ajax({
				url : '/pelamar/list/',
				type : 'get',
				dataType : 'html',
				success : function(result) {
					location.reload();
				}
			});
		});
	
	// detail view biodata
	$('#row-content').on('click','.btn-view', function(){
		var key = $(this).val();
		var url = '/pelamar/detail/'+ key;
		$.ajax({
			url:url,
			type:'get',
			dataType:'html',
			success: function(data){
				$('#main-modal-content').html(data);
				$('#main-modal').modal('show');
			}
		});
	});
	
	//Buttons Paging + Search
	$("#row-content").on("click", ".btn-paging", function() {

		var valPage = $(this).attr("href");
		//alert(valPage);
		var key = $("#txt-search").val();
		//alert(key);
		$.ajax({
			//url tujuan pelamar/search?page=0&size=10&key="input txt-search"
			url : valPage + '&key=' + key, // cari GetMapping(value="/list/{page}") 
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$("#row-content").html(result);
			}
		});
	});
	
	// send mail (token) pelamar, di list pelamar
	$('#row-content').on('click','.btn-send-mail', function(){
		
	});
	
	// menu sidebar di click, tampilkan konten sidebar
	$('#main-modal').on('click','.biodata-menu', function(event){
		event.preventDefault();
		
		var biodataId = $(this).attr('data-biodata-id');
		var url = $(this).attr('href');
		
		var judul = $(this).text();
		
		$.ajax({
			url:url+'/'+biodataId,
			type:'get',
			dataType:'html',
			success: function(data){
				// ganti judul
				$('#main-modal').find('#biodata-title').html(judul);
				$('#main-modal').find('#detail-content').html(data);				
			}
		});
	});
	
	// edit biodata
	$('#main-modal').on('click','#btn-edit-biodata',function(event) {
		// cegah link redirect
		event.preventDefault();

		var url = $(this).attr('href');
		// buat ajax untuk create
		// lihat sertifikasi controller @GetMapping(value="/sertifikasi/ubah/{sid}")
		$.ajax({
			url : url,
			type : 'GET',
			dataType : 'html',
			success : function(data) {
				// replace content
				$('#main-modal-content').html(data);
				$('#main-modal-content').find(".modal-title").html("Edit Biodata Pelamar");
			}
		});
	});
	$('#main-modal').on('click',"#btn-close-form", function(){
		$('#main-modal').modal('hide');
	});
	
	// sumbit form create
	$('#main-modal').on('submit','#form-biodata-create', function(){
		var vurl = $(this).attr('action');
		var vdata = $(this).serialize();
		$.ajax({
			url : vurl,
			type : 'post',
			data:vdata,
			dataType : 'html',
			success : function(data) {
				// masukan dulu result ke modal
				$("#form-modal-content").html(data);
				// check jumlah element yang memiliki class has-error
				var check = $("#form-modal-content").find(".has-error").length;
				// jika tidak ada error
				if(check==0){
					$("#form-modal").modal('hide');
					// tampilkan data dengan memanggil method loadData
				}
			}
		});
		return false;
	});
	
	// submit form edit
	$('#main-modal').on('submit','#form-biodata-edit', function(){
		var vurl = $(this).attr('action');
		var vdata = $(this).serialize();
		$.ajax({
			url : vurl,
			type : 'post',
			data:vdata,
			dataType : 'html',
			success : function(data) {
				// masukan dulu result ke modal
				$("#main-modal-content").html(data);
				// check jumlah element yang memiliki class has-error
				var check = $("#main-modal-content").find(".has-error").length;
				// jika tidak ada error
				if(check==0){
					$("#main-modal").modal('hide');
					// tampilkan data dengan memanggil method loadData
				}
			}
		});
		return false;
	});
</script>
</body>
</html>
