<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="top_nav" th:fragment="top-navigation">
	<div class="nav_menu">
		<nav>
			<!-- <div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a> 
			</div>  -->
			<ul class="nav navbar-nav navbar-left">
				<li class="">
					<a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span>Menu 1</span> <span class="fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-left">
						<li><a href="#"> SubMenu 1</a></li>
						<li><a href="#"> SubMenu 2</a></li>
						<li><a href="#"> SubMenu 3</a></li>
					</ul>
				</li>
				<li class="">
					<a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span>Menu 1</span> <span class="fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-left">
						<li><a href="#"> SubMenu 1</a></li>
						<li><a href="#"> SubMenu 2</a></li>
						<li><a href="#"> SubMenu 3</a></li>
					</ul>
				</li>
				<li class="">
					<a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span>Pengaturan</span> <span class="fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-left">
						<li><a th:href="@{~/pengguna/add/}" id="add-pengguna"> Pengguna</a></li>
						<li><a href="#"> SubMenu 2</a></li>
						<li><a href="#"> SubMenu 3</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
		
				
				<li sec:authorize="isAuthenticated()" class="">
					<a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
						<img th:src="@{~/build/images/img.jpg}" alt=""> 
						<span sec:authentication="name"></span>
						<span class="fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="javascript:;"> Profile</a></li>
						<li><a href="javascript:;"> <span
								class="badge bg-red pull-right">50%</span> <span>Settings</span>
						</a></li>
						<li><a href="javascript:;">Help</a></li>
						<li><a th:href="@{~/logout}"><i
								class="fa fa-sign-out pull-right"></i> Log Out</a></li>
					</ul>
				</li>

				<li role="presentation" class="dropdown">
					<a href="javascript:;"
						class="dropdown-toggle info-number" data-toggle="dropdown"
						aria-expanded="false"> <i class="fa fa-envelope-o"></i> <span
						class="badge bg-green">6</span>
					</a>
					<ul id="menu1" class="dropdown-menu list-unstyled msg_list"
						role="menu">
						<li><a> <span class="image"><img
									th:src="@{~/build/images/img.jpg}" alt="Profile Image" /></span> <span>
									<span>John Smith</span> <span class="time">3 mins ago</span>
							</span> <span class="message"> Film festivals used to be
									do-or-die moments for movie makers. They were where... </span>
						</a></li>
						<li><a> <span class="image"><img
									th:src="@{~/build/images/img.jpg}" alt="Profile Image" /></span> <span>
									<span>John Smith</span> <span class="time">3 mins ago</span>
							</span> <span class="message"> Film festivals used to be
									do-or-die moments for movie makers. They were where... </span>
						</a></li>
						<li><a> <span class="image"><img
									th:src="@{~/build/images/img.jpg}" alt="Profile Image" /></span> <span>
									<span>John Smith</span> <span class="time">3 mins ago</span>
							</span> <span class="message"> Film festivals used to be
									do-or-die moments for movie makers. They were where... </span>
						</a></li>
						<li><a> <span class="image"><img
									th:src="@{~/build/images/img.jpg}" alt="Profile Image" /></span> <span>
									<span>John Smith</span> <span class="time">3 mins ago</span>
							</span> <span class="message"> Film festivals used to be
									do-or-die moments for movie makers. They were where... </span>
						</a></li>
						<li>
							<div class="text-center">
								<a> <strong>See All Alerts</strong> <i
									class="fa fa-angle-right"></i>
								</a>
							</div>
						</li>
					</ul></li>
			</ul>
		</nav>
	</div>
</div>
</html>